body {
  background-color: #282c34;
}

.App {
  text-align: center;
}

#PanelNotConnected {
  background-color: #f02c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: auto;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;

}

#PanelConnected {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#NewDevice {
  background-color: #42cbf5;
  min-width: 50vh;
  border-radius: 10px;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  font-weight: bold;
  margin: 10px;
}

.DeviceName {
  background-color: #fcfeff;
  min-width: 50vh;
  border-radius: 10px;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  font-weight: bold;
}

#reconnect button {
  background-color: #dedede;
  border: none;
  color: black;
  margin-top: 30px;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(10px + 2vmin);
  border-radius: 10px;
  transition: all 0.2s;
  opacity: 0.6;
}


#reconnect button:hover {
  opacity: 1;
}

#reconnect button:active {
  opacity: 0.1;
}
